<main class="main">
  <!-- Theme Toggle -->
  <button
    (click)="toggleTheme()"
    class="px-4 py-2 rounded border shadow fixed top-4 right-4 cursor-pointer"
  >
    @if (theme() === 'dark'){
    <svg viewBox="0 0 28 28" fill="none">
      <circle cx="14" cy="14" r="3.5" stroke="currentColor"></circle>
      <path d="M14 8.5V6.5" stroke="currentColor" stroke-linecap="round"></path>
      <path d="M17.889 10.1115L19.3032 8.69727" stroke="currentColor" stroke-linecap="round"></path>
      <path d="M19.5 14L21.5 14" stroke="currentColor" stroke-linecap="round"></path>
      <path d="M17.889 17.8885L19.3032 19.3027" stroke="currentColor" stroke-linecap="round"></path>
      <path d="M14 21.5V19.5" stroke="currentColor" stroke-linecap="round"></path>
      <path
        d="M8.69663 19.3029L10.1108 17.8887"
        stroke="currentColor"
        stroke-linecap="round"
      ></path>
      <path d="M6.5 14L8.5 14" stroke="currentColor" stroke-linecap="round"></path>
      <path
        d="M8.69663 8.69711L10.1108 10.1113"
        stroke="currentColor"
        stroke-linecap="round"
      ></path>
    </svg>
    } @else if(theme() === 'light'){
    <svg viewBox="0 0 28 28" fill="none">
      <path
        d="M10.5 9.99914C10.5 14.1413 13.8579 17.4991 18 17.4991C19.0332 17.4991 20.0176 17.2902 20.9132 16.9123C19.7761 19.6075 17.109 21.4991 14 21.4991C9.85786 21.4991 6.5 18.1413 6.5 13.9991C6.5 10.8902 8.39167 8.22304 11.0868 7.08594C10.7089 7.98159 10.5 8.96597 10.5 9.99914Z"
        stroke="currentColor"
        stroke-linejoin="round"
      ></path>
      <path
        d="M16.3561 6.50754L16.5 5.5L16.6439 6.50754C16.7068 6.94752 17.0525 7.29321 17.4925 7.35607L18.5 7.5L17.4925 7.64393C17.0525 7.70679 16.7068 8.05248 16.6439 8.49246L16.5 9.5L16.3561 8.49246C16.2932 8.05248 15.9475 7.70679 15.5075 7.64393L14.5 7.5L15.5075 7.35607C15.9475 7.29321 16.2932 6.94752 16.3561 6.50754Z"
        fill="currentColor"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M20.3561 11.5075L20.5 10.5L20.6439 11.5075C20.7068 11.9475 21.0525 12.2932 21.4925 12.3561L22.5 12.5L21.4925 12.6439C21.0525 12.7068 20.7068 13.0525 20.6439 13.4925L20.5 14.5L20.3561 13.4925C20.2932 13.0525 19.9475 12.7068 19.5075 12.6439L18.5 12.5L19.5075 12.3561C19.9475 12.2932 20.2932 11.9475 20.3561 11.5075Z"
        fill="currentColor"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
    }
  </button>
  <!-- End of theme switcher -->

  @if (loading()) {
  <div class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  <div class="min-h-screen bg-white dark:bg-slate-950 p-6 animate-pulse">
    <div class="max-w-4xl mx-auto space-y-8">
      <div class="space-y-4">
        <div class="skeleton h-12 w-[250px]"></div>
        <div class="skeleton h-6 w-[180px]"></div>
        <div class="flex space-x-4">
          <div class="skeleton h-10 w-10"></div>
          <div class="skeleton h-10 w-10"></div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="skeleton h-8 w-[100px] mb-4"></div>
      <div class="skeleton h-[100px] w-full"></div>

      <mat-divider />

      <div class="skeleton h-8 w-[150px] mb-4"></div>
      <div class="skeleton h-[80px] w-full mb-4"></div>
      <div class="skeleton h-[80px] w-full mb-4"></div>

      <div class="separator"></div>

      Section 3
      <div class="skeleton h-8 w-[120px] mb-4"></div>
      <div class="skeleton h-[60px] w-full mb-4"></div>
      <div class="skeleton h-[60px] w-full mb-4"></div>

      <div class="separator"></div>

      Tags Section
      <div class="skeleton h-8 w-[100px] mb-4"></div>
      <div class="flex flex-wrap gap-2">
        <div class="skeleton h-[30px] w-[100px]"></div>
        <div class="skeleton h-[30px] w-[100px]"></div>
        <div class="skeleton h-[30px] w-[100px]"></div>
        <div class="skeleton h-[30px] w-[100px]"></div>
        <div class="skeleton h-[30px] w-[100px]"></div>
      </div>
    </div>
  </div>
  } @else if (error()) {
  <div class="flex items-center justify-center text-red-500">
    {{ error() }}
  </div>
  } @else {
  <div class="content">
    <div class="min-h-screen bg-background p-6">
      <!-- contenido -->
      <div class="max-w-4xl mx-auto space-y-8">
        <div class="space-y-4">
          <h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">
            {{ cv().name }}
          </h2>
          <div class="mt-2">
            <span class="text-xl text-muted-foreground inline-block min-h-[1.4rem]">
              <ngx-typed-js
                [strings]="cv().title"
                [typeSpeed]="100"
                [backSpeed]="60"
                [backDelay]="1000"
                [loop]="true"
                [showCursor]="false"
              >
                <h1 class="typing"></h1>
              </ngx-typed-js>
            </span>
          </div>
          <app-social
            [email]="cv().contact.email"
            [linkedinUrl]="cv().contact.linkedin"
            [githubUrl]="cv().contact.github"
            [copySuccess]="copied"
            (copyEmail)="handleCopyEmail()"
          ></app-social>
        </div>

        <h2 class="text-2xl font-semibold mb-4">About</h2>
        <section class="rounded-lg border bg-card text-card-foreground shadow-sm p-6 mb-4">
          <p>{{ cv().about }}</p>
        </section>

        <div class="separator"></div>

        <h2 class="text-2xl font-semibold mb-4">Experience</h2>
        @for (exp of cv().experience; track $index) {
        <section class="rounded-lg border bg-card text-card-foreground shadow-sm p-6 mb-4">
          <p>{{ exp }}</p>
        </section>
        }

        <mat-divider />

        <h2 class="text-2xl font-semibold mb-4">Education</h2>
        @for (edu of cv().education; track $index) {
        <section class="rounded-lg border bg-card text-card-foreground shadow-sm p-6 mb-4">
          <p>{{ edu.name }}</p>
          @if (edu.badge) {
          <div class="credly-badge mt-5">
            <app-credly-badge [badgeId]="edu.loader"></app-credly-badge>
          </div>
          }
        </section>
        }

        <h2 class="text-2xl font-semibold mb-4">Skills</h2>
        <section class="rounded-lg border bg-card text-card-foreground shadow-sm p-6">
          <div class="flex flex-wrap gap-2">
            @for (skill of cv().skills; track $index) {
            <span class="px-3 py-1 border border-border rounded text-foreground">
              {{ skill }}
            </span>
            }
          </div>
        </section>
      </div>
    </div>
  </div>
  }
</main>

<router-outlet />
